absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
alembic==1.10.4
amqp==5.1.1
aniso8601==9.0.1
anthropic==0.6.0
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
-e git+https://github.com/Brad-Edwards/archivist.git@c914e7de7c34c9888385925092f9180443696bcb#egg=archivist
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
asn1crypto==1.5.1
astor==0.8.1
astroid==2.13.5
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.2
async-timeout==4.0.2
attrs==22.2.0
aws-sam-translator==1.79.0
awscli==1.29.78
Babel==2.11.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
bert-extractive-summarizer==0.10.1
billiard==3.6.4.0
binaryornot==0.4.4
black==23.9.1
bleach==6.0.0
blessed==1.20.0
blinker==1.6.2
blis==0.7.11
boto3==1.28.1
botocore==1.31.78
browser-cookie3==0.16.2
cachetools==5.3.0
camel-converter==3.0.2
catalogue==2.0.9
celery==5.2.7
certifi==2023.5.7
cffi==1.15.1
cfgv==3.3.1
cfn-lint==0.83.1
channels==4.0.0
chardet==4.0.0
charset-normalizer==3.1.0
ci-info==0.3.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
comm==0.1.3
confection==0.1.3
configobj==5.0.8
configparser==6.0.0
contourpy==1.0.7
cookiecutter==2.1.1
council-ai==0.0.15
coverage==7.3.1
cramjam==2.7.0
crispy-bootstrap5==0.7
cryptography==38.0.4
cssbeautifier==1.14.9
cycler==0.11.0
cymem==2.0.8
dataclasses-json==0.5.7
dateparser==1.1.8
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.0.7
dill==0.3.6
diskcache==5.6.1
distlib==0.3.6
distro==1.8.0
Django==4.2.5
django-allauth==0.57.0
django-celery-beat==2.4.0
django-cors-headers==4.2.0
django-coverage-plugin==3.1.0
django-crispy-forms==2.0
django-debug-toolbar==4.2.0
django-environ==0.11.2
django-extensions==3.2.3
django-model-utils==4.3.1
django-redis==5.3.0
django-stubs==4.2.3
django-stubs-ext==4.2.2
django-timezone-field==5.0
django-webpack-loader==2.0.1
djangorestframework==3.14.0
djangorestframework-stubs==3.14.2
djlint==1.34.0
dnspython==2.4.2
docutils==0.16
drf-spectacular==0.26.5
duckduckgo-search==2.9.4
EditorConfig==0.12.3
environ==1.0
et-xmlfile==1.1.0
etelemetry==0.3.0
exceptiongroup==1.1.0
executing==1.2.0
factory-boy==3.3.0
faiss-cpu==1.7.4
Faker==17.0.0
fastjsonschema==2.16.3
fastparquet==2023.8.0
filelock==3.9.0
fire==0.4.0
flake8==6.1.0
flake8-isort==6.1.0
Flask==2.3.2
flatbuffers==23.5.9
flower==1.2.0
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.9.1
future==0.18.3
gast==0.4.0
gensim==4.3.1
git-python==1.0.3
gitdb==4.0.10
GitPython==3.1.36
google-api-core==2.14.0
google-api-python-client==2.106.0
google-api-python-client-stubs==1.18.0
google-auth==2.18.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.61.0
GoogleNews==1.6.10
gpt-engineer==0.0.9
graphene==3.2.1
graphene-django==3.0.0
graphql-core==3.2.3
graphql-relay==3.2.0
grpcio==1.54.2
h11==0.14.0
h5py==3.8.0
hiredis==2.2.3
html-tag-names==0.1.2
html-void-elements==0.1.0
httpcore==0.17.3
httplib2==0.22.0
httptools==0.5.0
httpx==0.25.1
huggingface-hub==0.16.4
humanize==4.6.0
identify==2.5.17
idna==2.10
imagesize==1.4.1
imbalanced-learn==0.11.0
imblearn==0.0
importlib-metadata==6.8.0
inflection==0.5.1
iniconfig==2.0.0
inquirer==3.1.3
ipdb==0.13.13
ipykernel==6.23.1
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isodate==0.6.1
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.2.0
jsbeautifier==1.14.9
jschema-to-python==1.2.3
json5==0.9.14
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.3
jsonschema==4.17.3
junit-xml==1.9
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-lsp==2.1.0
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server==2.22.1
keras==2.13.1rc0
keyring==23.11.0
kiwisolver==1.4.4
kombu==5.2.4
langchain==0.0.304
langchainplus-sdk==0.0.20
langcodes==3.3.0
langsmith==0.0.41
lazy-object-proxy==1.9.0
libclang==16.0.0
litellm==0.1.698
livereload==2.6.3
-e git+https://github.com/jerryjliu/llama_index.git@a38982870790c1debba8d6a47a69b3f8981eeaf3#egg=llama_index
loguru==0.6.0
looseversion==1.3.0
lxml==4.9.3
lz4==4.0.2
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
marshmallow==3.20.1
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
meilisearch==0.21.0
mistune==2.0.5
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.0.4
murmurhash==1.0.10
mypy==1.4.1
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.6
networkx==3.1
nibabel==5.1.0
nipype==1.8.6
nltk==3.8.1
nodeenv==1.7.0
notebook==6.5.4
notebook_shim==0.2.3
numexpr==2.8.4
numpy==1.24.3
oauthlib==3.2.2
openai==0.28.1
openapi==1.1.0
openapi-schema-pydantic==1.2.4
openpyxl==3.2.0b1
opt-einsum==3.3.0
oscrypto==1.3.0
outcome==1.2.0
packaging==23.1
pandas==2.1.0
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
pathspec==0.11.0
pathy==0.10.2
pbkdf2==1.3
pbr==5.11.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pinecone-client==2.2.4
platformdirs==3.0.0
pluggy==1.0.0
pre-commit==3.4.0
preshed==3.0.9
progressbar==2.5
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==3.0.36
protobuf==4.23.0
prov==2.0.0
psutil==5.9.5
psycopg==3.1.12
psycopg-binary==3.1.12
psycopg2==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyaes==1.6.1
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.11.0
pycparser==2.21
pycryptodome==3.16.0
pycryptodomex==3.18.0
pydantic==1.10.7
pydot==1.4.2
pyflakes==3.1.0
Pygments==2.14.0
PyJWT==2.6.0
pylint==2.15.10
pylint-celery==0.3
pylint-django==2.5.3
pylint-plugin-utils==0.7
pymediawiki==0.7.3
PyMuPDF==1.23.4
PyMuPDFb==1.23.3
pyOpenSSL==23.2.0
pyparsing==3.0.9
PyPDF2==3.0.1
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.4.2
pytest-asyncio==0.21.0
pytest-django==4.5.2
pytest-dotenv==0.5.2
pytest-sugar==0.9.7
python-crontab==2.7.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-editor==1.0.4
python-json-logger==2.0.7
python-pptx==0.6.21
python-slugify==8.0.1
python3-openid==3.2.0
pytz==2023.3
pyxnat==1.6
PyYAML==6.0.1
pyzmq==25.0.2
qtconsole==5.4.3
QtPy==2.3.1
rake-nltk==1.0.6
rdflib==7.0.0
readchar==4.0.5
redis==5.0.1
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.5.3
rsa==4.7.2
rudder-sdk-python==2.0.2
ruff==0.0.285
s3transfer==0.6.2
safetensors==0.3.3
sarif-om==1.0.4
scikit-learn==1.2.2
scikit-surprise==1.1.3
scipy==1.10.1
scrapingbee==1.1.8
seaborn==0.12.2
SecretStorage==3.3.3
selenium==4.8.0
Send2Trash==1.8.2
shellingham==1.4.0
simplejson==3.19.2
six==1.16.0
smart-open==6.3.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
snowflake-connector-python==3.0.4
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==7.2.6
sphinx-autobuild==2021.3.14
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.9
SQLAlchemy==2.0.21
sqlparse==0.4.3
srsly==2.4.8
stack-data==0.6.2
surprise==0.1
sympy==1.12
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorflow==2.13.0rc0
tensorflow-estimator==2.13.0rc0
tensorflow-macos==2.13.0rc0
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
thinc==8.1.12
threadpoolctl==3.1.0
tiktoken==0.5.1
tinycss2==1.2.1
tokenize-rt==5.2.0
tokenizers==0.13.3
tokentrim==0.1.10
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
torch==2.0.1
tornado==6.2
tqdm==4.66.1
traitlets==5.9.0
traits==6.3.2
transformers==4.33.2
tree-sitter==0.20.2
tree-sitter-languages==1.7.0
trio==0.22.0
trio-websocket==0.9.2
typer==0.9.0
types-beautifulsoup4==4.12.0.7
types-docutils==0.20.0.3
types-html5lib==1.1.11.15
types-pyOpenSSL==23.2.0.2
types-pytz==2022.7.1.0
types-PyYAML==6.0.12.12
types-redis==4.5.5.0
types-requests==2.28.11.8
types-setuptools==67.1.0.0
types-urllib3==1.26.25.14
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.2
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.15
uvicorn==0.23.2
uvloop==0.17.0
validators==0.22.0
vine==5.0.0
virtualenv==20.20.0
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.20.0
wcwidth==0.2.6
webcolors==1.13
webdriver-manager==4.0.0
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.3.7
wget==3.2
widgetsnbextension==4.0.7
wrapt==1.14.1
wsproto==1.2.0
XlsxWriter==3.1.2
yamllint==1.32.0
yarl==1.8.2
zipp==3.11.0
